@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

.radial-progress {
	$circle-size: 400px;
	$circle-background: #d6dadc;
	$circle-color: #bf0404;
	$inset-size: 350px;
	$inset-color: #eeeeee;
	$transition-length: 1s;
	$shadow: 0px 0px 0px rgba(0,0,0,0.2);
	$chunk-size:20px;
	$chunk-color: #d6dadc;
	$chunk-color-done: #bf0404;

	margin: 50px auto;
	width: $circle-size;
	height: $circle-size;

	background-color: $circle-background;
	border-radius: 50%;
	.circle {
		.mask, .fill, .shadow {
			width:    $circle-size;
			height:   $circle-size;
			position: absolute;
			border-radius: 50%;
		}
		.shadow {
			box-shadow: $shadow inset;
		}
		.mask, .fill {
			-webkit-backface-visibility: hidden;
			transition: -webkit-transform $transition-length;
			transition: -ms-transform $transition-length;
			transition: transform $transition-length;
			border-radius: 50%;
		}
		.mask {
			clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
			.fill {
				clip: rect(0px, $circle-size/2, $circle-size, 0px);
				background-color: $circle-color;
			}
		}
	}
	.inset {
		width:       $inset-size;
		height:      $inset-size;
		position:    absolute;
		margin-left: ($circle-size - $inset-size)/2;
		margin-top:  ($circle-size - $inset-size)/2;

		background-color: $inset-color;
		border-radius: 50%;
		box-shadow: $shadow;
		.chunks {
			position:	absolute;
			top:			$inset-size/6;
			left:			$inset-size/6;
			right: 		$inset-size/6;
			bottom:   $inset-size/6;
			overflow: hidden;

			position: absolute;
			line-height: 1;

			.chunk {
				float:left;
				margin:2px;
				background-color:$chunk-color;
				width:$inset-size*4/6/8-4;
				height:$inset-size*4/6/8-4;
			}
			.chunk.chunk-done {
				background-color:$chunk-color-done;
			}
		}
	}

	$increment: 180deg / 100;
	@for $i from 1 to 100 {
		&[data-progress="#{$i}"] {
			.circle {
				.mask.full, .fill {
					-webkit-transform: rotate($increment * $i);
					-ms-transform: rotate($increment * $i);
					transform: rotate($increment * $i);
				}
				.fill.fix {
					-webkit-transform: rotate($increment * $i * 2);
					-ms-transform: rotate($increment * $i * 2);
					transform: rotate($increment * $i * 2);
				}
			}
		}
	}
}
