@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

$circle-size: 400px;
$circle-background: #d6dadc;
$circle-color: #bf0404;
$inset-size: 350px;
$inset-color: #eeeeee;
$shadow: 0px 0px 0px rgba(0,0,0,0.2);
$chunk-margin:4px;
$chunk-color: #d6dadc;
$chunk-color-done: #bf0404;

.radial-container {
	margin:30px auto;
	position: relative;
}

.progress-container, .radial-container, .progress-succeeded, .radial-progress, .progress-content {
	height:$circle-size;
	width: $circle-size;
}

.progress-content {
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}

.progress-succeeded {
	background-color:$circle-color;
	position:absolute;
	color:$inset-color;
	border-radius: 50%;
  transform: scale(0.0);
  transition: all 0.6s ease-in-out;

	.h2, .h3 {
		color: #f0f0f0;
	}

	.h2 {
		font-size:150pt;
	}

	.h3 {
		font-weight:100;
		font-size:22pt;
	}
}

.progress-succeeded.animate-success {
  transform: scale(1.0);
}

.radial-progress {
	margin: auto;
	position:absolute;

	background-color: $circle-background;
	border-radius: 50%;

	.circle {

		margin:auto;

		.mask, .fill, .shadow {
			width:    $circle-size;
			height:   $circle-size;
			position: absolute;
			border-radius: 50%;
		}
		.shadow {
			box-shadow: $shadow inset;
		}
		.mask, .fill {
			-webkit-backface-visibility: hidden;
			border-radius: 50%;
		}
		.mask {
			clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
			.fill {
				clip: rect(0px, $circle-size/2, $circle-size, 0px);
				background-color: $circle-color;
			}
		}
	}

	.inset {
		width:       $inset-size;
		height:      $inset-size;
		position:    absolute;
		margin-left: ($circle-size - $inset-size)/2;
		margin-top:  ($circle-size - $inset-size)/2;

		background-color: $inset-color;
		border-radius: 50%;
		box-shadow: $shadow;
		.chunks {
			position:	absolute;
			top:			$inset-size/6;
			left:			$inset-size/6;
			right: 		$inset-size/6;
			bottom:   $inset-size/6;
			overflow: hidden;

			line-height: 1;

			.chunk {
				float:left;
				margin:$chunk-margin;
				background-color:$chunk-color;
				width:$inset-size*4/6/8-$chunk-margin*2;
				height:$inset-size*4/6/8-$chunk-margin*2;
			}
			.chunk.chunk-done {
				background-color:$chunk-color-done;
			}
		}

		.drop-box {
			height:$inset-size;
			width:$inset-size;
			position: absolute;
			border-radius:50%;
			transition: background-color 300ms linear;
		}

		.dragover {
			background-color:$circle-color;
			color:$inset-color;

			.drop-file .icon-draganddrop {
				background-image: url('/images/draganddrop-white.png');
			}
		}

		.drop-file {
			height: 100px;
			margin-top:($inset-size - 100) / 2;

			.icon-draganddrop {
				width:50px;
				height:50px;
				margin:0 auto;
				background-image: url('/images/draganddrop.png');
			}

		}

		.upload-progress {
			height:$inset-size;
			line-height: $inset-size - 20;
			font-size:40px;
			color: $circle-color;
		}
	}

	$increment: 180deg / 100;
	@for $i from 1 to 100 {
		&[data-progress="#{$i}"] {
			.circle {
				.mask.full, .fill {
					-webkit-transform: rotate($increment * $i);
					-ms-transform: rotate($increment * $i);
					transform: rotate($increment * $i);
				}
				.fill.fix {
					-webkit-transform: rotate($increment * $i * 2);
					-ms-transform: rotate($increment * $i * 2);
					transform: rotate($increment * $i * 2);
				}
			}
		}
	}
}
