<div class="radial-container">
	<div class="radial-progress" data-progress="{{file.progress}}">
		<div class="circle">
			<div class="mask full">
				<div class="fill"></div>
			</div>
			<div class="mask half">
				<div class="fill"></div>
				<div class="fill fix"></div>
			</div>
			<div class="shadow"></div>
		</div>
		<div class="inset">
			<div class="chunks" ng-if="file.status == 'pending' && !file.chunks.length">
				<span class="h2">Splitting...</span>
			</div>
			<div class="chunks" ng-if="file.status == 'merging'">
				<span class="h2">Merging...</span>
			</div>
			<div class="chunks" ng-if="file.status == 'pending' && file.chunks.length">
				<div class="chunk" ng-repeat="chunk in file.chunks" ng-class="{'chunk-done': chunk.done, 'chunk-error': chunk.error }"></div>
			</div>
			<div class="chunks" ng-if="file.status == 'waiting'">
				<span class="h2">File doesn't exist?</span>
			</div>
		</div>
	</div>
	<div class="progress-container">
		<div class="progress-succeeded" ng-class="{ 'animate-success': file.status == 'done' }">
			<div class="progress-content">
				<span class="h2">&#10003;</span><br/>
				<a class="h3 download_link" href="https://s3-ap-southeast-2.amazonaws.com/flipendo/out/{{file.id}}.mkv">Download</a>
			</div>
		</div>
		<div class="progress-succeeded" ng-class="{ 'animate-success': file.status == 'error' }">
			<div class="progress-content">
				<span class="h2">x</span>
			</div>
		</div>
	</div>
</div>
