<div class="center">
  <h1>
    Flipend<img src="images/flipendo_logo.png" alt="Flipendo logo" height="52" width="52" />
  </h1>
</div>

<div class="row center">
  <upload-circle file="file"></upload-circle>
</div>
<div class="row center" ng-if="file.status=='waiting'">
  <h2>Drop a video file into the area above</h2>
  <h3>It will then be transcoded to h264</h3>
</div>
<div class="row center" ng-if="file.status=='uploading'">
  <h2>Your video is being uploaded!</h2>
  <h3>Please wait for the transfer to complete</h3>
</div>
<div class="row center" ng-if="file.status=='error'">
  <h2>There was an error processing your file</h2>
  <h3 ng-bind="file.error"></h3>
</div>
